body{
    background-color: yellowgreen;
}
#mrJones{
            color: burlywood;
           }
            
            h1, h2, h3, h4 {
            color: #7FB800;
            font-size: 30px;
            background-color: purple;
            }
            h1 {
                color:coral;
                color: red;
            }
               .uppercase{
                text-transform: uppercase;
                color: hotpink!;
                background-color: black;
            }
            .important{
            color: orchid;
            }
        
           #theOne{
            color: blue;
           }
